
@model PagedList.IPagedList<Webbandohh.Models.Item>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12">
    <h2 class="title text-center">SẢN PHẨM</h2>
    @if (Model.Count == 0)
    {
        <p style="text-align:center">Không tìm thấy ....</p>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a href="/Home/ItemDetail/@item.ItemId"><img src="~/images/@item.ImgUrl" alt="" height="250" /></a>
                            <h2>@item.Price VND</h2>
                            <a href="/Home/ItemDetail/@item.ItemId">
                                <p>@item.Title</p>
                            </a>
                            <a href="/add-cart?ItemId=@item.ItemId&quantity=1" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    }
</div>
<div style="text-align:center">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Item", new { page, @search = @ViewBag.Search }))
</div>

