@model IEnumerable<Webbandohh.Models.Comment>


@foreach (var item in Model)
{
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-2">
            <img src="~/images/home/user-default.png" style="width:100%;height:100px" />
        </div>
        <div class="col-md-9">
            <span class="active">
                @item.Content
            </span>
            <p>
                @item.CreateDate
            </p>
        </div>
    </div>
}

