<footer id="footer">
    <!--Footer-->
    <div class="footer">
        <div class="container">
            <div class="row-footer">

                <div class="footer-col-1">
                    <h3>Download Takashi App</h3>
                    <p>Trải nghiệm tối ưu hơn và vô số khuyến mãi chỉ có trên app. Tải xuống ngay</p>
                    <div class="app-logo">
                        <a href="#"><img src="~/images/home/google-play.png" alt="Alternate Text" /> </a>
                        <a href="#"><img src="~/images/home/app-store.png" alt="Alternate Text" /></a>
                    </div>
                </div>

                <div class="footer-col-2">
                    <img style="object-fit: cover" src="~/images/home/Logo-footer.png" alt="Alternate Text" />
                    <p>Sứ mệnh của Takashi là mang văn hoá, những niềm tự hào của Nhật Bản đến với Việt Nam</p>
                </div>

                <div class="footer-col-3">
                    <h3>Một số link khác</h3>
                    <ul>
                        <li>Khuyến Mãi</li>
                        <li>Blog</li>
                        <li>Chính Sách</li>
                        <li>Trở thành đối tác</li>
                    </ul>
                </div>

                <div class="footer-col-4">
                    <h3>Theo dõi chúng tôi</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>

                    </ul>
                </div>
            </div>

            <div>
                <hr />
                <p class="copyright">Copyright 2022 - TakashiShop</p>
            </div>

        </div>
    </div>

</footer><!--/Footer-->
