@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">TÀI KHOẢN BỊ KHOÁ</h1>
    <h2 class="text-danger">Tài khoản của bạn tạm thời bị khoá, vui lòng liên hệ với chúng tôi qua email <strong>support@takashi.com</strong> để được hỗ trợ mở khoá.</h2>
</hgroup>
